<app-sidenav></app-sidenav>
<app-template-body title="Funcionários">

  <form [formGroup]="formCadastroFuncionario">

    <div class="card p-4 border-1">

      <div class="p-fluid p-4 grid formgrid gap-2 ">
       
        <div class="form-group m-2">
          <label for="nome"><b>Nome</b></label>
          <input type="text" pInputText placeholder="Nome" class="entrada-texto" #NOME (keyup)=alterarNome(NOME.value) required >
        </div>
      
        <div class="form-group m-2">
          <label for="fazenda"><b>Fazenda</b></label>
          <input type="text" pInputText placeholder="Nome fazenda" class="entrada-texto" #FAZENDA  (keyup)=alterarFazenda(FAZENDA.value) required>
        </div>

        <div class="form-group m-2">
          <label for="cpf"><b>CPF</b></label>
          <input type="text" pInputText placeholder="CPF" class="entrada-texto" #CPF (keyup)=alterarCpf(CPF.value) required>
        </div>

        <div class="form-group m-2">
          <label for="telefone"><b>Telefone</b></label>
          <input type="text" pInputText placeholder="Telefone" class="entrada-texto" #TELEFONE (keyup)=alterarTelefone(TELEFONE.value) required>
        </div>

        <div class="form-group m-2">
          <label for="telefone"><b>Função principal</b></label>
          <input type="text" pInputText  placeholder="Função principal" class="entrada-texto" #FUNCAO_PRINCIPAL (keyup)=alterarFuncaoPrincipal(FUNCAO_PRINCIPAL.value) required > 
        </div>

        <div class="form-group m-2">
          <label for="ativo" class="form-check-label"><b>Ativo</b></label>
            <input type="checkbox" #ATIVO (change)=alterarAtivo(ATIVO.checked) class="form-check-input" id="check" required>
        </div>

      </div>

      <div class="p-4 grid formgrid m-2">
        <button pButton type="button" (click)="clickCadastrar()" routerLink="/admin/funcionarios/">
          Cadastrar</button>
      </div>

    </div>
    
  </form>

</app-template-body>
